.MainLayout {
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
    background-color: #E3FDFD;
    color: black;
}   

.Container {
    display: flex;
    padding: 30px;
    width: 100%;
}