.NavBar {
    position: relative;
    min-width: 200px;
    max-width: 300px;
    width: 20vw;
    height: 100vh;
    background-color: #222831;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: margin-left 400ms ease-in-out;
}

.NavBar.NavClosed {
    margin-left: max(min(-20vw, -200px), -300px);
}

.NavBar.NavOpen {
    margin-left: 0;
}

@mixin navLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TopLinks {
    @include navLinks();
    margin-bottom: auto;
}

.BottomLinks {
    @include navLinks();
}   

.Link {
    font-size: larger;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #393E46;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.Link:hover {
    background-color: lighten(#393E46, 12%);
}

.Link:active {
    background-color: lighten(#393E46, 25%);
}

.Link.Active {
    background-color: #00ADB5;
}

.Link.Active:hover {
    background-color: darken(#00ADB5, 8%);
}

.Link.Active:active {
    background-color: darken(#00ADB5, 20%);
}

.FAB {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    background-color: #393E46;
    color: white;
    font-size: 22px;
    border-radius: 50px;
    text-align: center;
    border: none;
    transition: right 400ms ease-in-out, transform 400ms ease-in-out, margin-left 10ms;
}

.FAB:hover {
    background-color: lighten(#393E46, 12%);
    border: 2px solid #00ADB5;
}

.FAB:active {
    background-color: lighten(#393E46, 25%);
    border: 2px solid #00ADB5;
}

.FAB.NavOpen {
    right: -15px;
    transform: rotate(0);
}

.FAB.NavClosed {
    right: -35px;
    transform: rotate(180deg);
}