.FormLabel {
    display: block;
    font-size: 1.25em;
    line-height: 2em;
    align-self: flex-start;
    margin-top: 20px;
}
  
.FormInput {
    font-size: 1em;
    line-height: 1.6em;
    padding: 4px 8px;
    min-height: 22px;
    border: unset;
    border-radius: 4px;
    outline-color: #00ADB5;
    background-color: white;
    min-width: 106px;
    width: 20vw;
    max-width: 280px;
    box-sizing: border-box;
}

.FormInput:disabled {
    background-color: #dddddd;
}

.FormError {
    font-size: 0.8em;
    line-height: 1.2em;
    height: 1.2em;
    color: red;
    align-self: flex-start;
    margin-top: 4px;
}