body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.CenteredForm {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #CBF1F5;
  min-width: 260px;
  width: min(80%, 400px);
  min-height: 600px;
  min-height: min(90%, 700px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CenteredForm form {
  display: flex;
  flex-direction: column;
}

.FormTitle {  
  font-size: 2em;
  margin: 0;
  text-align: center;
}

.FormSuccess {
  font-size: 0.8em;
  line-height: 1.2em;
  height: 1.2em;
  color: darkgreen;
  align-self: flex-start;
  margin-top: 4px;
}

.FormSubmit {
  padding: 8px 16px;
  font-size: large;
  border-radius: 4px;
  border: unset;
  background-color: #393E46;
  color: white;
  outline-color: #00ADB5;
  align-self: flex-end;
  margin-top: 20px;
}

.FormSubmit:hover {
  background-color: lighten(#393E46, 12%);
  border: 2px solid #00ADB5;
  margin: 18px -2px -2px -2px; //workaround to avoid layout shift on border
}

.FormSubmit:active {
  background-color: lighten(#393E46, 25%);
  border: 2px solid #00ADB5;
  margin: 18px -2px -2px -2px; //workaround to avoid layout shift on border
}

.FormSubtitle {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 0;
}

.FormSelect {
  font-size: 1em;
  //line-height: 1.6em; // line-height does not work for <select> in chrome
  padding: calc(4px + 0.3em) 8px; // line-height added through padding instead
  min-height: 22px;
  border: unset;
  border-radius: 4px;
  outline-color: #00ADB5;
  background-color: white;
  min-width: 106px;
  width: 20vw;
  max-width: 280px;
  box-sizing: border-box;
  margin-bottom: 1.2em;
}

.FormResult {
  font-size: 0.8em;
  line-height: 1.2em;
  height: 1.2em;
  align-self: flex-start;
  margin-top: 4px;
}

.FormResult.Success {
  color: green;
}

.FormResult.Failure {
  color: red;
}